<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Add INTERNET permission here -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="WorkTimeTracker"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".NextWeekAdmin"
            android:exported="false" />
        <activity
            android:name=".SelectNextWeekShifts"
            android:exported="false" />
        <activity
            android:name=".ShiftsHistoryAdmin"
            android:exported="false" />
        <activity
            android:name=".NewWorker"
            android:exported="false" />
        <activity
            android:name=".AdminEditWorkersPage"
            android:exported="false" />
        <activity
            android:name=".AdminMainPage"
            android:exported="false" />
        <activity
            android:name=".Editingshift"
            android:exported="false" />
        <activity
            android:name=".ShiftHystory"
            android:exported="false" />
        <activity
            android:name=".CustomPunchIn"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".BackgroundCheck"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
        <service android:name=".InternetChecker">
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>